:root {
  --primary: #1a1c22;
  --secondary: #121418;
  --red: #ca252f;
  --grey: #6e707d;
  --white: #f5f5f5;
}

.logo {
  font-size: 2em;
  margin: 0.5em;
  margin-bottom: 2.6em;
  text-align: center;
}

.logoDot,
.titleDot {
  color: var(--red);
}

.container {
  display: grid;
  grid-template-columns: 0.6fr 3fr 0.25fr;
  grid-template-rows: 1fr;
  /* gap: 1em 1em; */
  grid-auto-flow: row;
  grid-template-areas: "Sidebar Content Favorite";
  width: 90%;
  height: 100%;
  background-color: var(--primary);
  margin: 0 auto;
}

.sidebar {
  grid-area: Sidebar;
  border-right: 1px solid #282a2e;
}

.content {
  grid-area: Content;
  border-left: 1px solid var(--secondary);
  padding: 1em;
}

.favorite {
  grid-area: Favorite;
  background-color: var(--secondary);
}

/* .gameCards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em 1em;
}

.gameCard {
  border-radius: 0.6em;
  background-color: var(--secondary);
}

.gameCard:hover {
  box-shadow: 0px 0px 8px 4px var(--red);
} */

/* .gameCardImage {
  border-top-left-radius: 0.6em;
  border-top-right-radius: 0.6em;

  background: no-repeat center center;
  width: 100%;
  background-size: cover;
} */

/* .gameCardInfo {
  display: flex;
  align-content: center;
  padding: 1em;
  justify-content: space-between;
} */

/* .gamePlatforms img {
  height: 1em;
  margin: 0.2em;
} */

/* .gameRelease,
.gameCardGenre {
  color: var(--grey);
  font-size: 0.8em;
} */

/* .gameCardGenre {
  text-align: end;
  padding: 1em;
}

.gameTitle {
  font-size: 1.6em;
  font-weight: 700;
  padding: 0.4em 0.6em;
  min-height: 3.5em;
} */

/* .genreItem {
  margin: 1em 0;
  margin-left: 1em;

  border-top-left-radius: 0.6em;
  border-bottom-left-radius: 0.6em;
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-rows: 1fr;
  gap: 0em 0em;
}

.genreItem:hover {
  background-color: var(--secondary);
}

.genreIcon {
  border-radius: 0.6em;
}

.genreTitle {
  display: flex;
  align-items: center;
  padding-left: 0.6em;
} */

.pageTitle {
  font-size: 2em;
  font-weight: 700;
}

/* .mainMenuTitle {
  font-size: 1.2em;
  font-weight: 400;
  color: var(--grey);
  margin: 1em;
}

.mainMenuItems {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: 500;
  margin: 1em;
}

.mainMenuItems a {
  color: var(--grey);
  text-decoration: none;
}

.mainMenuItems a.selected {
  color: var(--white);
  text-decoration: underline;
}

.mainMenuItems a:hover {
  text-decoration: underline;
}

.genresList a.selected div {
  background: var(--secondary);
} */

/* .gameContent {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 1em 1em;
}

.gameContent .pageTitle {
  font-size: 5em;
} */

/* .whiteLabel {
  background-color: #f5f5f5;
  border-radius: 0.4em;
  color: var(--secondary);
  padding: 0 0.5em;
  margin-right: 1.5em;
}

.flex {
  display: flex;
} */

/* .metacriticLabel {
  border: 0.1em solid var(--red);
  border-radius: 0.4em;
  padding: 0.7em;
  color: var(--red);
  margin: 0 0.4em;
} */

/* .metacritic {
  margin-left: 1.5em;
} */

/* .description p {
  margin: 1em 0;
} */
/* 
.gameInfoSidebar img {
  width: 100%;
}

.gameInfoSidebar div {
  margin: 1em 0;
}

.addToFavorite {
  display: flex;
}

.addToFavorite button {
  background-color: var(--primary);
  border: 1px solid var(--white);
  border-radius: 0.4em;
  color: var(--white);
  padding: 0.8em;
  width: 100%;
  font-size: 1.6em;
}

.addToFavorite button:hover {
  background-color: var(--white);
  color: var(--primary);
  cursor: pointer;
}

.addToFavorite .deleteFav {
  background-color: var(--secondary);
  color: var(--grey);
  border-color: var(--primary);
} */

/* .pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  border: 1px solid var(--secondary);
  border-radius: 0.4em;
  background-color: var(--primary);
  color: var(--grey);
  padding: 1em;
  margin: 0.6em;
  min-width: 1em;
  text-align: center;
}
.pagination a.selected,
.pagination a:hover {
  border: 1px solid var(--red);
} */
